body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1780%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 224%2c 189%2c 1)'%3e%3c/rect%3e%3cpath d='M461.05 -47.48L634.26 52.52L634.26 252.52L461.05 352.52L287.84 252.52L287.84 52.52zM461.05 552.52L634.26 652.52L634.26 852.52L461.05 952.52L287.84 852.52L287.84 652.52zM2019.94 852.52L2193.15 952.52L2193.15 1152.52L2019.94 1252.52L1846.73 1152.52L1846.73 952.52z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M441.05 -47.48 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM614.26 52.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM614.26 252.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM441.05 352.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM267.84 252.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM267.84 52.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM441.05 552.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM614.26 652.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM614.26 852.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM441.05 952.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM267.84 852.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM267.84 652.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM1999.94 852.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM2173.15 952.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM2173.15 1152.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM1999.94 1252.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM1826.73 1152.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0zM1826.73 952.52 a20 20 0 1 0 40 0 a20 20 0 1 0 -40 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M88.96 -15.12L195.48 46.38L195.48 169.38L88.96 230.88L-17.56 169.38L-17.56 46.38zM195.48 169.38L302.01 230.88L302.01 353.88L195.48 415.38L88.96 353.88L88.96 230.88zM302.01 353.88L408.53 415.38L408.53 538.38L302.01 599.88L195.48 538.38L195.48 415.38zM515.06 722.88L621.58 784.38L621.58 907.38L515.06 968.88L408.53 907.38L408.53 784.38zM515.06 1091.88L621.58 1153.38L621.58 1276.38L515.06 1337.88L408.53 1276.38L408.53 1153.38zM728.1 722.88L834.63 784.38L834.63 907.38L728.1 968.88L621.58 907.38L621.58 784.38zM1047.68 538.38L1154.2 599.88L1154.2 722.88L1047.68 784.38L941.15 722.88L941.15 599.88zM1154.2 -15.12L1260.73 46.38L1260.73 169.38L1154.2 230.88L1047.68 169.38L1047.68 46.38zM1154.2 353.88L1260.73 415.38L1260.73 538.38L1154.2 599.88L1047.68 538.38L1047.68 415.38zM1367.25 -15.12L1473.77 46.38L1473.77 169.38L1367.25 230.88L1260.73 169.38L1260.73 46.38zM1473.77 169.38L1580.3 230.88L1580.3 353.88L1473.77 415.38L1367.25 353.88L1367.25 230.88zM1367.25 1091.88L1473.77 1153.38L1473.77 1276.38L1367.25 1337.88L1260.73 1276.38L1260.73 1153.38zM1686.82 907.38L1793.35 968.88L1793.35 1091.88L1686.82 1153.38L1580.3 1091.88L1580.3 968.88zM1793.35 -15.12L1899.87 46.38L1899.87 169.38L1793.35 230.88L1686.82 169.38L1686.82 46.38zM1899.87 169.38L2006.39 230.88L2006.39 353.88L1899.87 415.38L1793.35 353.88L1793.35 230.88zM1899.87 538.38L2006.39 599.88L2006.39 722.88L1899.87 784.38L1793.35 722.88L1793.35 599.88zM2006.39 -15.12L2112.92 46.38L2112.92 169.38L2006.39 230.88L1899.87 169.38L1899.87 46.38zM2006.39 722.88L2112.92 784.38L2112.92 907.38L2006.39 968.88L1899.87 907.38L1899.87 784.38zM2006.39 1091.88L2112.92 1153.38L2112.92 1276.38L2006.39 1337.88L1899.87 1276.38L1899.87 1153.38z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1780'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-greenPrimary {
    background-color: rgb(28, 45, 25);
}

.triangle {
    position: absolute;
    z-index: -1;
}

#nombre{
    transition-property: height;
    transition-duration: 1s;
}
#nombre:hover{
    height: 9rem;
    transition-duration: 1s;
    
}

.xl-circle {
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
}

.sm-circle {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}